.addSongForm {
  display: flex; 
  flex-direction: column;
  padding: 60px;
  height: 250px;
  width: 200px;
  color: #0687F5;
  font-family: Helvetica, sans-serif;
  font-weight: 540;
}
.addSongBtn {
    background-color: #0687F5;
  color: whitesmoke;
  border: none;
  font-family: Helvetica, sans-serif;
  border-radius: 5px;
  padding: 5px;
}

.addSongBtn:hover{
   cursor: pointer;
  background-color: whitesmoke;
  color: #0687F5;
  border: 1px solid #0687F5;
}

.profileImg {
    width: 172px;
    height: 160px;
}

.container {
   margin: 0 300px;
    padding: 35px 30px 80px;
    background-color: black;
  display: flex;
}

.profileInfo {
    width: 120px;
    height: 518px;
    padding: 0 25px;
    flex: 1;
}
.songsList {
    flex: 2;
}

.playBtn {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin: 4px 0 0 6px;
}

.songTitlePro {
color: #0687F5;
text-decoration: none;
}
.editDeleteBtns {
  float: right;
}
.editLinkTrack {
  text-decoration: none;
  color: #363636;
  font-size: 18px;
}
.editLinkTrack:hover {
  color: rgb(45, 103, 45);
  font-weight: 600;
  text-decoration: none;
}
.deleteTrakbtn {
text-decoration: none;
font-weight: 600;
background-color: black;
color: red;
border: none;
}
.deleteTrakbtn:hover {
  cursor: pointer;
  font-size: 28px;
}
.userSongs {
  height: 200px;
}

.divSongImg {
  flex: 1;
}
.songImg {
  width: 215px;
  height: 200px;
  justify-content: space-between;
}
.usernamePro {
  color: #4f4c4c;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  line-height: 30px;
}
.editSongContainer {
  display: flex;
  flex-direction: column;
    margin: 0 300px;
    padding: 35px 30px 80px;
    background-color: black;
    color: #0687F5;
    height: 500px;
}
.cancelEditBtn {
  width: 100px;
  background-color: rgb(145, 35, 35);
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-family: Helvetica, sans-serif;
  color: whitesmoke;
}

.cancelEditBtn:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color:rgb(145, 35, 35);
}

.editSongForm {
   display: flex;
   flex-direction: column;
  justify-content: space-between;
  width: 300px;
}
.updateTrackBtn {
   border-radius: 5px;
  border: none;
  padding: 5px;
  font-family: Helvetica, sans-serif;
  width: 100px;
  background-color: #0687F5;
  color: whitesmoke;
}
.updateTrackBtn:hover {
cursor: pointer;
background-color: whitesmoke;
color: #0687F5;
}
.edProfileBtn, .addTrackBtn {
  margin-top: 10px;
background-color: #363636;
color: #0687F5;
 border-radius: 5px;
  font-family: Helvetica, sans-serif;
  padding: 6px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.edProfileBtn:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color: #0687F5;
}
.addTrackBtn:hover {
  cursor: pointer;
  background-color: rgb(14, 106, 14);
  color: whitesmoke;
}
.editProContainer {
  display: flex;
  flex-direction: column;
}

.editProForm {
  color: #0687F5;
  display: flex;
   flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

@media (max-width: 1280px) {
   .container {
        margin: 0 120px;
   }
}