.addSongForm {
  display: flex; 
  flex-direction: column;
  padding: 60px;
  height: 250px;
  width: 200px;
}

.profileImg {
    width: 172px;
    height: 160px;
}

.container {
   margin: 0 300px;
    padding: 35px 30px 80px;
    border: 3px solid orange;
    background-color: black;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
  /* grid-auto-rows: 200px; */
  display: flex;
  /* flex-direction: row; */
}

.profileInfo {
    width: 120px;
    height: 518px;
    padding: 0 25px;
    /* border: 3px solid red; */
  /* align-self: end; */
    flex: 1;
    border: 2px solid green;
     /* justify-content: flex-end; */
}
.songsList {
    /* justify-content: flex-start; */
    flex: 2;
    border: 2px solid purple;
}
/* .fa-play{
background-color: #fff;
/* size: 2px; */

.playBtn {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin: 4px 0 0 6px;
}
/* .playBtn :hover{
  cursor: pointer;
}

.olList li::marker{
  color: rgb(213, 205, 205);
} */
.songTitlePro {
color: #0687F5;
text-decoration: none;
}
.editDeleteBtns {
  float: right;
}
.editLinkTrack {
  text-decoration: none;
  color: #363636;
  font-size: 18px;
}
.editLinkTrack:hover {
  color: rgb(45, 103, 45);
  font-weight: 600;
  text-decoration: none;
}
.deleteTrakbtn {
text-decoration: none;
color: rgb(126, 25, 25);
font-weight: 600;
background-color: black;
border: none;
}
.deleteTrakbtn:hover {
  cursor: pointer;
  font-size: 28px;
}
.userSongs {
  /* list-style-type: none; */
  border: 2px solid red;
  /* flex: 3; */
  height: 200px;
}

.divSongImg {
  flex: 1;
  border: 2px solid darkturquoise;
}
.songImg {
  width: 215px;
  height: 200px;
  justify-content: space-between;
 /* float: right; */
}
.usernamePro {
  color: #4f4c4c;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  line-height: 30px;
}

@media (max-width: 1280px) {
   .container {
        margin: 0 120px;
   }
}