
.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-family: Helvetica, sans-serif;
     color: #161113;
}
.proLink a {
     text-decoration: none;
      color: #161113;
      font-weight: 600;
}
.navCon {
margin: 0 145px;
}

.navbar {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sessionLinks {     
    display: flex;
     justify-content: flex-end;
     list-style-type: none;
}


.homeLink {
    color: #212121;
    text-decoration: none;
    font-weight: 530;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginBtn {
    border: none;
     font-size: 14px;
    font-family: Helvetica;
    color: #161113;
    font-weight: 600;
background-color: white;
}
.loginBtn:hover, .signupBtn:hover, .demoBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.signupBtn {
    border: none;
     font-size: 14px;
    font-family: Helvetica;
    color: #161113;
    font-weight: 600;
    background-color: white;

}
.demoBtn {
    border: none;
    font-size: 14px;
    font-family: Helvetica;
    color: #161113;
    font-weight: 600;
background-color: white;
}

.profileBtn {
border: none;
padding: 18px;
border-radius: 50%;
background: linear-gradient(217deg, rgba(0,0,255,.8),  rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0, 225, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0, 162, 255, 0.8), rgba(0,0,255,0) 70.71%);

}

.homebBtn {
width: auto;
height: 40px;
}

.discoverSentence {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #161113;
    margin: 9px 0px 0px;
}

/* ::selection { background-color: #C3CFE2; } */
.midSentence {
    /* color: #408ea3; */
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.allArtists a, .allSongs a {
margin-left: 3rem;
text-decoration: none;
 color: #0687F5;
font-weight: 600;
 font-size: 14px;
    font-family: Helvetica;
}

a:hover {
    text-decoration: underline;
}

.aboutContainer {
    display: flex; 
  flex-direction: column;
  padding: 60px;
  padding-top: 40px;
  height: 250px;
  width: 200px;
   color: #0687F5;
  font-family: Helvetica, sans-serif;
  font-weight: 550;
}
.aboutBtn {
    margin-left: 3rem;
    border: none;
    background-color: #fff;
    color: #0687F5;
    font-weight: 600;
 font-size: 14px;
    font-family: Helvetica;
}

.aboutBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}