
/* .body {
    background-color: orange;
} */
.profile-dropdown {
    /* color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    /* border: 3px solid red; */
    padding: 0 15px;
    /* margin: 50x; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {     
    display: flex;
     justify-content: flex-end;
     /* align-items: center; */
     list-style-type: none;
}

/* li {
display: flex;
flex-direction: column;
} */

.active {
    /* border: 3px dotted blue; */
    text-decoration: none;
    color: #212121;
    font-weight: 530;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginBtn {
    border: none;
     font-size: 14px;
    font-family: Helvetica;
    color: #161113;
    font-weight: 600;

}

.signupBtn {
    /* border: 3px dotted orange; */
    border: none;
     font-size: 14px;
    font-family: Helvetica;
    color: #161113;
    font-weight: 600;

}
.demoBtn {
    /* position: relative; */
    /* border: 3px dotted blue; */
    border: none;
    /* font-weight: bold; */
    font-size: 14px;
    font-family: Helvetica;
    color: #161113;
    font-weight: 600;

}

.profileBtn{
/* color: royalblue; */
border: none;
padding: 18px;
border-radius: 50%;
background: linear-gradient(217deg, rgba(0,0,255,.8),  rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0, 225, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0, 162, 255, 0.8), rgba(0,0,255,0) 70.71%);

}